# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcuserdatad/
build/
DerivedData/
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
